.lateralNav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: black;
  padding: 1%;
  height: 100vh;
  width: 2.5%;
  position: fixed;
  bottom: 0;
}

.list_lateralNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
  margin: 0% 5% 5% 0%;
  color: white;
  height: calc(100% - 5rem);
}


.element_lateralNav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 0.2rem;
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: -0.5rem;
  transform: translateY(50%);
}

.rotate-text {
  writing-mode: vertical-rl;
  text-align: center;
  margin-top: auto;
  font-size: 1rem;
  font-weight: 500;
  transform: rotate(180deg);
}


.element_lateralNav + .element_lateralNav {
  margin-top: 0.5rem;
}

.element_lateralNav svg {
  fill: red;
  width: 100%;
  height: 3rem;
}

.element_img_lateralNav {
  display: flex;
  align-items: center;
}
