.cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 2rem;
    margin-left: auto;
    padding-right: 2rem;
}
.card{
display: flex;
justify-content: center;
align-items: center;
background-color: #fbfbfb;
padding: 1.8rem;
width: 200px;
position: relative;
border-radius: 10px;
gap: 2rem;
}
.img-card{
width: 5rem;
}
.container-number-type{
    display: flex;
    flex-direction: column;
}
.indication-number{
font-weight: bold;
font-size: 1.2rem;
}
.indication-type{
opacity: 0.8;
}