.cards {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 3.5rem;
    margin-left: auto;
    padding-right: 2rem;
    margin-bottom: 10%;
}
.card{
display: flex;
justify-content: center;
align-items: center;
background-color: #fbfbfb;
padding: 1.8rem 3.5rem 1.8rem 0.5rem;
width: 230px;
position: relative;
left: 30%;
border-radius: 10px;
gap: 2rem;
}
.img-card{
width: 6rem;
}
.container-number-type{
    display: flex;
    flex-direction: column;
}
.indication-number{
font-weight: bold;
font-size: 1.2rem;
}
.indication-type{
opacity: 0.8;
}